$primary-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

$accent-color: #68b738;
$bg-color: #f2f2f2;
$bace-color-text: #444444;
$title-color-text: #000000;
$accent-color-text: #ffffff;
