$primary-font: "Lato", "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

$accent-color: #68b738;
$accent-color-hover: #5eaa2f;

$bg-color: #f2f2f2;
$border-color: #cdcdcd;
$icon-color: #666666;
$bace-color-text: #444444;
$title-color-text: #000000;
$accent-color-text: #ffffff;


$tablet-width: 768px;
$desktop-width: 1440px;
