.additional-card {
  padding: 12px 0 19px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid $border-color;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 244px;
    gap: 40px;
    padding: 15px 0;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.additional-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-card__title {
  margin: 0 0 13px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__properties {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

