.contacts {
  position: relative;

  &--catalog {
    background: $bg-color;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 565px 655px 1fr;
    grid-template-rows: minmax(400px, 1fr);
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1220px;
  }
}

.contacts__wrapper-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    padding: 60px 70px 62px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    box-sizing: border-box;
    margin: -12px 0 0;
    padding: 60px 80px;
    background-color: $accent-color-text;
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 10;
    align-self: center;
  }
}

.contacts__offer {
  margin: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__map {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
