.contacts {
  position: relative;

  &--catalog {
    background: #f2f2f2;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1220px;
  }
}

.contacts__wrapper-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    box-sizing: border-box;
    padding: 60px 80px;
    background-color: $accent-color-text;
  }
}

.contacts__offer {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
