.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $bace-color-text;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    mask: url("../../icons/stack.svg#logo-htmlacademy");
    mask-size: 27px auto;
    mask-repeat: no-repeat;
    background-color: $icon-color;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $accent-color;
    }
  }

  &:active {
    opacity: 30%;

    &::after {
      background-color: $accent-color;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}
