.labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;


  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    column-gap: 43px;
  }
}

.labels__item {
  &:first-child {
    .labels__description {
      @media (min-width: $tablet-width) {
        max-width: 124px;
      }
    }
  }
}

.labels__title {
  margin: 0;
  padding: 14px 5px 17px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $title-color-text;
  border: 1px solid $border-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
  }
}

.labels__description {
  max-width: 87px;
  box-sizing: border-box;
  margin: -10px auto 0;
  padding: 0 14px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background: $bg-color;

  @media (min-width: $tablet-width) {
    max-width: 146px;
    margin: -8px auto 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background: $accent-color-text;
  }

  @media (min-width: $desktop-width) {
    background: $bg-color;
  }
}
