.map__image {
  display: block;
  width: 100%;
}

.map__interactive {
  width: 100%;
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    height: 100%;
  }
}
