.programs {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 22px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
  }
}

.programs__list {
  @include no-list;


  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1220px;
    margin: 0 auto;
  }
}
