.programs {
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.programs__list {
  @include no-list;


  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 80px;
    max-width: 1220px;
    margin: 0 auto;
  }
}
