.program {
  margin-bottom: 20px;
  padding: 24px 20px 18px;
  background-color: $bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 30px;
    padding: 77px 316px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 47px 52px 55px;
  }
}

.program__title {
  position: relative;
  margin: 0 0 22px;
  padding-left: 70px;
  font-family: $title-font;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: $title-color-text;

  @media (min-width: $tablet-width) {
    position: static;
    margin: 0 0 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 0 39px;
    padding-left: 162px;
    line-height: 100px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 92px;
      right: 63px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: auto;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }
}

.program__title--slim {
  &::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-sit");
    background-size: 36px auto;

    @media (min-width: $tablet-width) {
      top: 81px;
      right: 93px;
      left: auto;
      width: 140px;
      height: 194px;
      background-size: 194px auto;
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      top: -6px;
      right: auto;
      left: 15px;
      width: 70px;
      height: 97px;
      background-size: 70px auto;
    }
  }
}

.program__title--pro {
  &::after {
    top: 11px;
    left: -9px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat");

    @media (min-width: $tablet-width) {
      top: 135px;
      right: 29px;
      left: auto;
      width: 268px;
      height: 112px;
      background-size: 268px auto;
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      right: auto;
      left: -19px;
      width: 134px;
      height: 56px;
      background-size: 134px auto;
    }
  }
}

.program__description {
  margin: 0 0 15px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 23px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $title-color-text;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
  }

  &::after {
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-right-long");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      width: 32px;
      transition: width 0.3s;
    }
  }

  &:active {
    opacity: 30%;
  }
}
