.promotions {
  max-width: 1220px;
  margin: 0 auto;
  padding: 49px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 93px 30px 81px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 0 104px;
  }
}

.promotions__title {
  margin: 0 0 26px;

  @media (min-width: $tablet-width) {
    margin: 0 0 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px;
  }
}

.promotions__wrapper {
  max-width: 632px;
  margin: 0 auto;
  //padding: 0 20px;

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.promotions__description {
  margin: 0 0 24px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $title-color-text;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}
