.sample {
  background-color: $bg-color;
}

.sample__description {
  font-size: 14px;
  line-height: 18px;
}

.sample__total {
  font-family: $title-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $title-color-text;
}
