.sample-slider {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 16px;
  }
}

.sample-slider__slide {
  overflow: hidden;
}

.sample-slider__slide--after {
  .sample-slider__image {
    transform: translateX(-50%);
  }
}

.sample-slider__thumb {
  position: absolute;
  top: 0;
  right: 50%;
  width: 4px;
  height: 100%;
  padding: 0;
  font-size: 0;
  background: #666666;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    mask: url("../../icons/stack.svg#arrows");
    mask-size: 24px auto;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #666666;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    background-color: $accent-color-text;
  }

  &:hover {
    background-color: $accent-color;

    &::after {
      background-color: $accent-color;
    }

    &::before {
      border-color: $accent-color;
    }
  }

  &:active {
    opacity: 60%;
  }
}
