.sample {
  position: relative;
  padding: 25px 20px 40px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding: 45px 0 101px;
    background-image: linear-gradient(to bottom, #ffffff 57%, $bg-color 57%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 70px;
    background-image: linear-gradient(to bottom, #ffffff 23%, $bg-color 23%);
  }
}

.sample__wrapper {
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.sample__wrapper-top {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    max-width: 433px;
  }
}

.sample__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.sample__wrapper-labels {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.sample__labels {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.sample__description {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px;
  }
}

.sample__labels-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sample__total {
  margin-bottom: 20px;
  font-family: $title-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $title-color-text;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 66px;
  }
}

.sample__total-label {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
