.subtitle {
  font-family: $title-font;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: $title-color-text;


  &::before {
    content: "";
    z-index: 0;
    display: block;
    width: 100vw;
    height: 2px;
    margin: 0 0 -18px;
    box-shadow: -100vh 0 0 0 #68b738;
    background: #68b738;

    @media (min-width: $tablet-width) {
      margin: 0 0 -16px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 -19px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.subtitle__txt {
  padding: 0 40px 0 0;
  background: $accent-color-text;
  width: auto;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 -40px;
  }
}
